text {
  font-size: 16px !important;
  font-family: 'Sarabun', 'Arial', sans-serif !important;
  fill: #222!important;
}

text.label {
  font-weight: bold !important;
  dominant-baseline: central !important;
  fill: #999999 !important;
}
