input.input:focus {
  box-shadow: none !important;
}

.is-small {
  margin-bottom: 1rem !important;
}

.card {
  box-shadow: none !important;
}

.switch.on {
  background: green;
}

.switch {
  border: 1px solid #ccc;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  cursor: pointer;
  display: inline-block;
}

.switch-toggle {
  border: 1px solid #999;
  width: 25px;
  height: 24px;
  left: 0;
  border-radius: 12px;
  background: #fff;
  position: relative;
  transition: left .2s ease-in-out;
}

.switch.on .switch-toggle {
  left: 23px;
}

@media screen and (max-width: 500px) {
  h1.is-size-3 {
    font-size: 1.5rem !important;
  }
  p.attribution {
    font-size: 0.75rem !important;
  }
  button.button.is-link,
  input.input.is-medium {
    font-size: 1.125rem;
  }
  p.has-text-info {
    font-size: 0.875rem;
  }
}
