@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Sarabun');

input.input:focus {
    box-shadow:none !important;

}

input.input {
    //font-family: 'Comfortaa', cursive !important;
    font-family: 'Sarabun', sans-serif;
}

body {
    font-family: 'Sarabun', sans-serif;
}